// Sass + Compass with BEM Methodology

.header {
	background: #fff; 
	height: 45px;
    &__menu {
    	float: left;
    	width: 44px;
    	height: 44px;
    }
    &__logo {
    	position: absolute;
    	width: 150px;
    	height: 44px;
    	text-align: center;
		left: 50%;
		margin-left: -75px;
    }
    &__search {
    	float: right;
    	width: 44px;
    	height: 44px;
    	&--button {
    		width: 30px;
   		}
    }
}
.today-date {
	height: 30px;
	background: red;
	padding: 5px 0;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.highlight {
	background: getBGColor('highlight');
	&__content {
		padding: 5px 10px;
		.entry-content {
			padding: 10px 0;
			.entry-title {
				color: getTextColor('title_highlight');
				@include font-size(getFontSize('article_title_highlight'), 'em');
				padding-top: 10px;
			}	
		}
	}
}
.today-news {
	@include font-size(getFontSize('section'));
	@include clearfix;
	&__heading {
		text-align:center;
		@include font-size(getFontSize('section_title'), 'em');
		padding: 20px 0 5px 0;
	}
	&__content {
		padding: 5px 10px;
		.entry-content {
			padding: 10px 0;
			.entry-image {
				width: 25%;
				float: left;
			}
			.entry-title {
				padding-left: 30%;
				color: getTextColor('title');
			}	
			.entry-meta {
				padding-left: 30%;
				@include font-size(getFontSize('article_footer'), 'em');
				color: getTextColor('footer');
				padding-top: 10px;
			}
		}
	}
}
.today-album {
	@include font-size(getFontSize('section'));
	background: getBGColor('today-album');
	@include clearfix;
	&__heading {
		text-align:center;
		@include font-size(getFontSize('section_title'), 'em');
		color: getTextColor('section_title_clips');
		padding: 20px 0 5px 0;
	}
	&__content {
		padding: 5px 0px;
		.entry-content {
			padding: 10px 10px;
			width: 50%;
			float: left;
			.entry-image {
				width: 100%;
			}
			.entry-title {
				color: getTextColor('today_clips');
				padding-top: 10px;
			}	
			.entry-meta {
				@include font-size(getFontSize('article_footer'), 'em');
				color: getTextColor('footer');
				padding-top: 10px;
			}
		}
	}
}
.today-clips {
	background: getBGColor('today-clips');
}